$col-1: 100%/12;

// --- L o o p   e x p o s i t o r e s
.loop-expositores {
    
    &__contenedor {
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__card {
        width: 23%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 20px;

        @include under(md850) {
            width: 30%;
        }

        @include under(mobile) {
            width: 40%;
        }

        @include under(xs600) {
            width: 52%;
        }

    }

    &__nombre {
        @extend %expositores-nombre;
        display: inline;
        position: absolute;
        bottom: 0;
        padding: 5px 5px 0 0;
    }

    // M o d a l
    .modal {
        // display: none;
        position: fixed;
        z-index: 10;
        // left: 5%;
        // top: 150px;
        width: 90% !important;
        max-width: 1100px;
        // height: auto;
        overflow: auto;
        background-color: #F6F6F6;;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);

        margin-top: 80px;
    
        &__titulo {
            @extend %bold;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

    
        @extend %arrows-slick;
    
        .slick-arrow {
            width: 40px;
        }
    
        .galeria-prev,
        .galeria-anterior {
            background-image: url(../images/iconos/prev-2.svg) !important;
        }
    
        .galeria-next,
        .galeria-siguiente {
            background-image: url(../images/iconos/next-2.svg) !important;
        }
    }
    
    /* Modal Content/Box */
    .modal-content {
        margin: 30px auto;
        width: 95%;
        display: flex;
        justify-content: center;

        @include under(xs600) {
            flex-wrap: wrap;
        }

        .col-20{
            width: 19%;
            height: 100%;

            @include under(xs600) {
                width: 80%;
                margin: 0 auto;
            }

            .box-aspect{
                @extend %box-aspect-ratio;
                padding-bottom: 70%;
            } 

            img {
                @extend %imagen-aspect-ratio;
            }

            .nombre {
                @extend %expositores-nombre-modal;
                margin-top: 20px;
            }

            .premios {
                @extend %expositores-premio-modal;
                margin-top: 20px;

                em {
                    @extend %expositores-premio-italic-modal;
                }
            }

            .boton {
                @extend %boton-expositores-modal;
                margin-bottom: 10px;
                text-align: center;
            }
        }

        .col-80 {
            width: 79%;
            @include under(xs600) {
                width: 90%;
                margin: 0 auto;
            }

            .descripcion {
                margin-left: 20px;
                line-height: 25px;
                width: 85%;
                max-width: 700px;

                @include under(xs600) {
                    margin-top: 30px;
                }
                
                p {
                    @extend %expositores-premio-modal;

                    img {
                        width: auto;
                        margin: 0 auto;
                    }
                }
            }

            .galeria {
                position: relative;
                height: auto;
                width: 83%;
                margin: 0 auto 70px auto;
                padding-bottom: 50px;

                &-expositores-slider {
                    
                    .slide {
    
                        .box-aspect {
                            @extend %box-aspect-ratio;
                            padding-bottom: 66%;
    
                            &--imagen {
                                @extend %imagen-aspect-ratio;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .open {
        cursor: pointer;
    }
    
    /* The Close Button */
    .close {
        color: gray;
        float: right;
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        display: block;
        text-align: center;
        width: 32px;
        height: 32px;
        right: 0;
        top: 0;
        z-index: 1;
    }
    
    .close:hover,
    .close:focus {
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-gallery {
        height: auto;
    
        .slide {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            img {
                height: 90%;
                object-fit: contain;
            }
        }
    }
    
    .slick-slide {
        &:focus {
            outline: 0;
        }
    }
}
