$col-1: 100%/12;

// --- G a l e r i a
.galeria {

    &__contenedor {
        width:  100%;
        margin-bottom: 50px;

        .flex-center {
            @extend %flex-center-titulo; 
        }
    }

    &__titulo {
        @extend %titulo-paginas-simple;
    }

    // R o w
    &__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 60px;

        .card{
            width: 23%;

            @include under(md) {
                width: 30%;
            }
            @include under(sm) {
                width: 45%;
            }
            @include under(xs600) {
                width: 80%;
            }
        }

        .box-aspect {
            @extend %box-aspect-ratio;
            padding-bottom: 73%;
            margin-bottom: 25px;

            &--imagen {
                @extend %imagen-aspect-ratio; 

            }
        }
    }
}