$col-1: 100%/12;

// --- B a n n e r   m a p a
.banner-mapa {

    &__box-titulo {
        @extend %box-titulos;
    }

    &__titulo {
        @extend %titulo-paginas;
        @extend %titulo-paginas-superior-derecha;
        padding: 10px 0px 0px 10px !important;
        word-spacing: 5px;
    }
}