$col-1: 100%/12;

// --- L o o p   s e d e s
.loop-sedes {

    &__container {
        // background: orange;
        width: 100%;
    }

    &__titulo {
        @extend %titulo-paginas-simple;
        margin: 20px 0;
    }

    &__row {
        // background-color: red;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        width: 20%;
        margin: 10px 20px 30px;;
        
        // justify-content: center;
        
        &--title {
            background-color: c(grey);
            height: 40px;
            @extend %sede-loop-nombre;
            display: flex;
            align-items: center;
            padding: 0 10px;
            margin-bottom: 10px;
        }
        
        ul {
        
            li {
                @extend %medium;
                font-size: 12px;
                line-height: 18px;
            }
        }

        .none {
            @extend %medium;
            font-size: 12px;
        }
    }
}

// .modal-sedes {
    
//     .closeModal{
//         position: fixed; 
//         top: 0;
//         left: 0;
//         z-index: 100;
//         width: 100vw;
//         height: 100vh;
//         align-items: center;
//         justify-content: center;
//         display: none;
//     }

//     &__contenido {
//         background-color: #F6F6F6;
//         width: 80%;
//         max-width: 1000px;
//         height: 80%;
//         max-height: 550px;
//         position: relative;

//         display: flex;
//         justify-content: space-between;
//         padding: 35px 0 0 30px;

//         .column-one {
//             width: 30%;
//             padding: 0 20px 0 0;
//         }

//         .column-two {
//             width: 68%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//         }
//     }

//     .cerrar-modal {
//         color: gray;
//         float: right;
//         font-size: 25px;
//         font-weight: medium;
//         position: absolute;
//         display: block;
//         text-align: center;
//         width: 32px;
//         height: 32px;
//         right: 0;
//         top: 0;
//         z-index: 1;
//         border: none;
//         background-color: transparent;
//     }

//     &__title-event {
//         @extend %bold;
//         font-size: 24px;
//         margin-bottom: 30px;
//     }

//     &__hour-event {
//         @extend %regular;
//         font-size: 18px;
//         line-height: 24px;
//     }

//     &__ticket-event {
//         @extend %light;
//         font-size: 14px;
//         line-height: 24px;
//     }

//     &__links-event {
//         @extend %regular;
//         font-size: 12px;
//         line-height: 24px;
//         text-transform: uppercase;
//     }

//     &__excerpt {
//         @extend %light;
//         font-size: 18px;
//         line-height: 26px;
//     }
// }